{% extends 'workshop_app/base.html' %}

{% block title %} Statistics {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3">
            <form method="GET">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Filters</h5>
                        <a href="{% url 'statistics_app:public' %}" class="btn btn-sm btn-outline-secondary">
                            Clear
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">From date:</label>
                            {{form.from_date}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">To date:</label>
                            {{form.to_date}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Workshop:</label>
                            {{form.workshop_type}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">State:</label>
                            {{form.state}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{form.sort.help_text}}:</label>
                             {{form.sort}}
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="form-check mb-3">
                            {{form.show_workshops}}
                            <label class="form-check-label">{{form.show_workshops.help_text}}</label>
                        </div>
                        {% endif %}
                        <hr>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                View
                            </button>
                            <button type="submit" class="btn btn-success" name="download" value="download">
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-9">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    {% include "statistics_app/paginator.html" %}
                </div>
                <div>
                    <button class="btn btn-dark" id="state_graph">
                        State chart
                    </button>
                    <button class="btn btn-dark" id="type_graph">
                        Workshops chart
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Coordinator Name</th>
                                <th>Institute Name</th>
                                <th>Instructor Name</th>
                                <th>Workshop Name</th>
                                <th>Workshop Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for workshop in objects %}
                            <tr>
                                <td>{{ forloop.counter0|add:objects.start_index}}</td>
                                <td>{{ workshop.coordinator.get_full_name|capfirst }}</td>
                                <td>{{ workshop.coordinator.profile.institute|capfirst }}</td>
                                <td>{{ workshop.instructor.get_full_name|capfirst }}</td>
                                <td>{{ workshop.workshop_type.name }}</td>
                                <td>{{ workshop.date|date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "statistics_app/paginator.html" %}
        </div>
    </div>
</div>

<div id="dialog" title="Workshops Statistics" style="display: none;">
    <canvas id="myChart"></canvas>
</div>

<script type="text/javascript">
    var state_labels = {{ws_states|safe}};
    var state_data = {{ws_count|safe}};
    var type_labels = {{ws_type|safe}};
    var type_data = {{ws_type_count|safe}};
    var chart;
    $("#state_graph").on("click", function() {
        show_graph(state_labels, state_data, "State wise workshops");
    });
    $("#type_graph").on("click", function() {
        show_graph(type_labels, type_data, "Type wise workshops");
    });

    function show_graph(labels, data, graph_name) {
        var ctx = document.getElementById('myChart').getContext('2d');
        if(chart) chart.destroy();
        chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    label: graph_name,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {}
        });
        $("#dialog").dialog({
            width: 900,
            height: 500
        });
    }
</script>
{% endblock %}