<!DOCTYPE html>
<html>
  {% load static %} {% load custom_filters %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} HomePage {% endblock %}</title>

    <script src="{% static 'workshop_app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/toastr.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    {% block extra-dependencies %} {% endblock %}

    <link
      rel="stylesheet"
      href="{% static 'workshop_app/css/toastr.min.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'workshop_app/css/base.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'workshop_app/css/font-awesome.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        background-color: #f2eeda; /* A very light grey */
      }
      .footer {
        position: relative; /* This overrides any conflicting 'fixed' positioning */
      }
    </style>

    {% block extra-custom-scripts %} {% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a
          class="navbar-brand d-flex align-items-center"
          href="{% url 'workshop_app:index' %}"
        >
          <img
            src="https://fossee.in/sites/all/themes/software_responsive_theme/img/logo.png"
            alt="FOSSEE Logo"
            height="30"
            class="me-2"
          />
          <span>FOSSEE Workshops</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarSupportedContent"
        >
          {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop_app:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'workshop_app:workshop_type_list' %}"
                >Workshop Types</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'statistics_app:public' %}"
                >Workshop Statistics</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'workshop_app:workshop_status_instructor' %}"
                >Workshop Status</a
              >
            </li>
            {% if not request.user|has_group:"instructor" %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'workshop_app:propose_workshop' %}"
                >Propose Workshop</a
              >
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="material-icons" style="vertical-align: middle"
                  >account_circle</span
                >
                {{ user.get_full_name|title }}
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'workshop_app:view_own_profile' %}"
                    >Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'password_change' %}"
                    >Change Password</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'workshop_app:logout' %}"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop_app:login' %}"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workshop_app:register' %}"
                >Register</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    {% endblock %}

    <main class="container py-4" style="margin-top: 60px">
      {% block content %}
      <h1>Base Template Content. Please override me</h1>
      {% endblock %}
    </main>

    <script>
      {% if messages %}
          {% for message in messages %}
              toastr[{% if message.tags %} "{{ message.tags }}" {% else %} "info" {% endif %}]("{{ message }}");
          {% endfor %}
      {% endif %}
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  <footer class="footer mt-auto py-1 bg-dark text-white">
    <div class="container text-center">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/1/1d/Indian_Institute_of_Technology_Bombay_Logo.svg"
        alt="IIT Bombay Logo"
        height="40"
        class="me-3"
        style="vertical-align: middle"
      />
      <span style="vertical-align: middle"
        >Developed by FOSSEE group, IIT Bombay</span
      >
    </div>
  </footer>
</html>
