{% extends 'workshop_app/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>
                        <form class="px-3 py-3" method="post">
                            {% csrf_token %}
                            
                            {% if form.errors %}
                                <div class="alert alert-danger pb-0">
                                    <p>Please correct the errors below:</p>
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error|escape }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <div class="mb-3">
                              <label for="id_username" class="form-label">Username</label>
                              {{ form.username }}
                            </div>
                            
                            <div class="mb-3">
                              <label for="id_password" class="form-label">Password</label>
                              {{ form.password }}
                            </div>
                            
                            <button type="submit" class="btn btn-primary w-100">Sign in</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a href="{% url 'workshop_app:register' %}">New around here? Sign up</a>
                            <br>
                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}