{% extends "workshop_app/base.html" %}

{% block title %}
    My Workshops
{% endblock %}

{% block extra-custom-scripts %}
<style>
    .table-heading{
        color: #04a9cf;
    }
</style>
{% endblock %}

{% block content %}
    {% if not workshops %}
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome {{ user.first_name }}</h1>
                <p class="col-md-8 fs-4">Information related to your workshops will be shown here. You can propose a new workshop in the <strong>Propose Workshop</strong> tab.</p>
              </div>
            </div>
        </div>
    {% else %}
        <h3 class="text-center">The status of your workshops </h3>
        <br>

        <br>
        <div class="container">
            <h3 class="text-center table-heading"><strong>Workshops Accepted</strong></h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Workshop Name</th>
                    <th>Instructor Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for workshop in workshops %}
                    {% if workshop.status %}
                        <tr>
                            <td><a href="{% url 'workshop_app:workshop_details' workshop.id %}" >{{ workshop.workshop_type|capfirst }}</a></td>
                            <td>{{ workshop.instructor.get_full_name }}</td>
                            <td>{{ workshop.date|date }}</td>
                            <td><span class="badge bg-success">{{ workshop.get_status }}</span></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br>
        <div class="container">
            <h3 class="text-center table-heading"><strong>Workshops Proposed By Me</strong></h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Workshop Name</th>
                    <th>Workshop Day</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for workshop in workshops %}
                    {% if not workshop.status and workshop.tnc_accepted %}
                        <tr>
                            <td><a href="{% url 'workshop_app:workshop_details' workshop.id %}" >{{ workshop.workshop_type|capfirst }}</a></td>
                            <td>{{ workshop.date|date }}</td>
                            <td><span class="badge bg-warning text-dark">{{ workshop.get_status }}</span></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}