{% extends 'workshop_app/base.html' %}
{% load custom_filters %}

{% block title %}
    Workshop Types
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Workshop Types</h2>
        {% if request.user|has_group:"instructor" %}
            <a href="{% url 'workshop_app:add_workshop_type' %}" class="btn btn-primary">Add Workshop Type</a>
        {% endif %}
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-striped table-hover mb-0">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Workshop Name</th>
                  <th>Workshop Duration (Days)</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for w in workshop_type %}
                    <tr>
                      <td>{{ forloop.counter0|add:workshop_type.start_index }}</td>
                      <td>{{ w.name }}</td>
                      <td>{{ w.duration }}</td>
                      <td><a href="{% url 'workshop_app:workshop_type_details' w.id %}" class="btn btn-outline-primary btn-sm">View Details</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">

    <span class="text-muted">Page {{ workshop_type.number }} of {{ workshop_type.paginator.num_pages }}</span>

    {% if workshop_type.has_other_pages %}
    <nav aria-label="Page navigation" class="d-inline-block ms-3">
      <ul class="pagination pagination-sm" style="vertical-align: middle;">

        {% if workshop_type.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ workshop_type.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if workshop_type.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ workshop_type.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}

      </ul>
    </nav>
    {% endif %}
</div>
</div>
{% endblock %}